#content_contact{
    width: 80%;
    margin: auto;
    position: relative;
    top: 45%;
    z-index: 2;
    
}

.contact_title{
    width: 100%;
    text-align: center;
    display: inline-block
}

.reseaux_contact{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin:auto;
    padding: 10%;
}

.content_img{
    position: absolute;
    width: 100%;
    z-index: 1;
}

.content_img img{
    
    width: 100%;
   height: 100%;
   opacity: 0.6;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:landscape) {

    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation:portrait) {
    
    .content_img{
        display: none;
    }
    body{
        background: url(../photo/portrait_plage_cagnes\ copie.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /* iPad portrait style here */
}

@media screen and (max-width:480px) {

    .content_img{
        display: none;
    }
    body{
    background: url(../photo/portrait_plage_cagnes\ copie.jpg)  no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

}